.animated {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fading {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .fading.ng-leave.ng-leave-active {
    opacity: 0; }
  .fading.ng-enter {
    opacity: 0; }
  .fading.ng-enter.ng-enter-active {
    opacity: 1; }
  .fading.ng-leave {
    opacity: 1; }

.slide-from-below {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .slide-from-below.ng-enter.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .slide-from-below.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .slide-from-below.ng-leave.ng-leave-active {
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%); }
  .slide-from-below.ng-enter {
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%); }

.sidesliding {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .from-left.to-right .sidesliding.ng-enter {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .from-left.to-right .sidesliding.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .from-left.to-right .sidesliding.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .from-left.to-right .sidesliding.ng-leave-active {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .from-right.to-left .sidesliding.ng-enter {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .from-right.to-left .sidesliding.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .from-right.to-left .sidesliding.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .from-right.to-left .sidesliding.ng-leave-active {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .to-bottom .sidesliding.ng-leave.ng-leave-active, .from-bottom .sidesliding.ng-leave.ng-leave-active {
    opacity: 0; }
  .to-bottom .sidesliding.ng-enter, .from-bottom .sidesliding.ng-enter {
    opacity: 0; }
  .to-bottom .sidesliding.ng-enter.ng-enter-active, .from-bottom .sidesliding.ng-enter.ng-enter-active {
    opacity: 1; }
  .to-bottom .sidesliding.ng-leave, .from-bottom .sidesliding.ng-leave {
    opacity: 1; }
