.animated {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fading {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .fading.ng-leave.ng-leave-active {
    opacity: 0; }
  .fading.ng-enter {
    opacity: 0; }
  .fading.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .fading.ng-hide-remove {
    opacity: 0; }
  .fading.ng-enter.ng-enter-active {
    opacity: 1; }
  .fading.ng-leave {
    opacity: 1; }
  .fading.ng-hide-add {
    opacity: 1; }
  .fading.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

.slide-out {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .slide-out.ng-enter.ng-enter-active {
    max-height: 100px; }
  .slide-out.ng-leave {
    max-height: 100px; }
  .slide-out.ng-hide-add {
    max-height: 100px; }
  .slide-out.ng-hide-remove.ng-hide-remove-active {
    max-height: 100px; }
  .slide-out.ng-leave.ng-leave-active {
    max-height: 0;
    overflow-y: hidden; }
  .slide-out.ng-enter {
    max-height: 0;
    overflow-y: hidden; }
  .slide-out.ng-hide-add.ng-hide-add-active {
    max-height: 0;
    overflow-y: hidden; }
  .slide-out.ng-hide-remove {
    max-height: 0;
    overflow-y: hidden; }
  .slide-out.ng-hide {
    display: block !important;
    max-height: 0;
    overflow-y: hidden; }

.slide-from-right {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .slide-from-right.ng-enter.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .slide-from-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .slide-from-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .slide-from-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0); }
  .slide-from-right.ng-leave.ng-leave-active {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .slide-from-right.ng-enter {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .slide-from-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .slide-from-right.ng-hide-remove {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%); }

.sidesliding {
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  .from-top.to-bottom .sidesliding.ng-enter {
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%); }
  .from-top.to-bottom .sidesliding.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .from-top.to-bottom .sidesliding.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .from-top.to-bottom .sidesliding.ng-leave-active {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%); }
  .from-bottom.to-top .sidesliding.ng-enter {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%); }
  .from-bottom.to-top .sidesliding.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .from-bottom.to-top .sidesliding.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); }
  .from-bottom.to-top .sidesliding.ng-leave-active {
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%); }
  .to-right .sidesliding {
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms; }
    .to-right .sidesliding.ng-leave.ng-leave-active {
      opacity: 0; }
    .to-right .sidesliding.ng-enter {
      opacity: 0; }
    .to-right .sidesliding.ng-hide-add.ng-hide-add-active {
      opacity: 0; }
    .to-right .sidesliding.ng-hide-remove {
      opacity: 0; }
    .to-right .sidesliding.ng-enter.ng-enter-active {
      opacity: 1; }
    .to-right .sidesliding.ng-leave {
      opacity: 1; }
    .to-right .sidesliding.ng-hide-add {
      opacity: 1; }
    .to-right .sidesliding.ng-hide-remove.ng-hide-remove-active {
      opacity: 1; }
  .from-right .sidesliding {
    transition-duration: 800ms;
    -webkit-transition-duration: 800ms; }
    .from-right .sidesliding.ng-leave.ng-leave-active {
      opacity: 0; }
    .from-right .sidesliding.ng-enter {
      opacity: 0; }
    .from-right .sidesliding.ng-hide-add.ng-hide-add-active {
      opacity: 0; }
    .from-right .sidesliding.ng-hide-remove {
      opacity: 0; }
    .from-right .sidesliding.ng-enter.ng-enter-active {
      opacity: 1; }
    .from-right .sidesliding.ng-leave {
      opacity: 1; }
    .from-right .sidesliding.ng-hide-add {
      opacity: 1; }
    .from-right .sidesliding.ng-hide-remove.ng-hide-remove-active {
      opacity: 1; }
