body {
  background: black url(../images/city.jpg) fixed center top;
  /* background: black url(../images/listtest.png) fixed center top; */
  color: white;
  overflow: hidden;
  font-family: sans-serif; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#splashcontainer {
  margin: 0 auto;
  width: 441px;
  max-width: 80%;
  position: relative;
  height: 100%; }

#splashlogo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

nav {
  position: relative;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.6); }

#logo {
  display: block;
  height: 44px;
  width: 44px;
  position: relative;
  margin: 0 auto;
  top: 5.5px;
  left: 0; }

#app-area {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.app-view {
  /* background: black url(../images/city.png) fixed center top; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.bottomTools {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.bottomTools > .tools {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 50px;
  font-size: 30px; }

.empty-view {
  display: none; }

.bar {
  background: rgba(0, 0, 0, 0.4);
  padding: 25px 15px;
  position: relative; }

.slide-out .bar {
  margin: 0; }

.arrow-up, .arrow-down {
  width: 32px;
  height: 32px;
  background: url(../images/arrowset.png) no-repeat; }

.arrow-down {
  background-position: 0 -32px; }

.share-fb, .share-twitter, .share-email {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../images/shareiconset.png) no-repeat; }

.share-twitter {
  background-position: 0 -48px; }

.share-email {
  background-position: 0 -96px; }

.way {
  position: relative;
  background: black;
  width: 84px;
  height: 84px;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  font-variant: small-caps; }

.way.large {
  width: 120px;
  height: 120px;
  font-size: 31px; }

.way-name {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 58%;
  opacity: 0.9; }

.way-logo {
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 0;
  letter-spacing: -1.5px; }

.ways-w {
  color: #ec373a; }

.ways-a {
  color: #faae43; }

.ways-y {
  color: #219646; }

.waysearch {
  background: black;
  height: 30px;
  padding: 5px; }

.waysearch input {
  display: block;
  background: #363636 no-repeat url(../images/search.png) 11px center;
  font-size: 16px;
  color: white;
  height: 30px;
  width: 100%;
  padding: 10px 10px 5px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

.waylist {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow: auto;
  max-height: 100%;
  font-variant: small-caps; }

.waylist-item {
  background: rgba(0, 0, 0, 0.4);
  padding: 48px 120px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 120px; }

.waylist-item + .waylist-item {
  border-top: 2px solid black; }

.waylist-item .way {
  position: absolute;
  left: 18px;
  top: 18px; }

.way-place {
  font-size: 40px;
  line-height: 24px; }

.way-distance {
  font-size: 16px;
  position: absolute;
  bottom: 12px;
  right: 12px; }

#map-view .angular-google-map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px; }

#showmap {
  background: black no-repeat url(../images/map-icon.png) center center; }

#showwaylist {
  background: black no-repeat url(../images/list-icon.png) center center; }

#way-view {
  background: rgba(0, 0, 0, 0.4);
  overflow: auto; }

#way-view section {
  text-align: center;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  font-size: 14px; }

#way-view section + section {
  border-top: 2px solid black; }

#way-view p {
  opacity: 0.9; }

#way-view .placeDetails {
  height: 90px; }

#way-view h1 {
  font-variant: small-caps;
  font-size: 40px;
  font-weight: normal;
  margin: 0; }

#way-view .placeDetails {
  margin: 2px 0; }

#way-view .way {
  margin: 0 auto; }

#way-view .wayDetails {
  height: 240px; }

#way-view .wayDetails p {
  margin: 10px 0; }

#way-view .wayDescription {
  text-transform: uppercase; }

#way-view .share {
  height: 90px; }

#way-view .share p {
  margin: -10px 0 6px 0; }

#way-view .share div {
  margin: 0 2px; }

#way-view .map {
  padding: 0; }

#way-view .angular-google-map-container {
  height: 180px; }

#way-view section.expanding {
  padding: 0;
  transition-duration: 400ms;
  -webkit-transition-duration: 400ms; }
  #way-view section.expanding .contents {
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    height: 150px;
    background: black; }
  #way-view section.expanding.ng-leave.ng-leave-active {
    opacity: 0; }
    #way-view section.expanding.ng-leave.ng-leave-active .contents {
      max-height: 0;
      overflow: hidden; }
  #way-view section.expanding.ng-enter {
    opacity: 0; }
    #way-view section.expanding.ng-enter .contents {
      max-height: 0;
      overflow: hidden; }
  #way-view section.expanding.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
    #way-view section.expanding.ng-hide-add.ng-hide-add-active .contents {
      max-height: 0;
      overflow: hidden; }
  #way-view section.expanding.ng-hide-remove {
    opacity: 0; }
    #way-view section.expanding.ng-hide-remove .contents {
      max-height: 0;
      overflow: hidden; }
  #way-view section.expanding.ng-enter.ng-enter-active {
    opacity: 1; }
    #way-view section.expanding.ng-enter.ng-enter-active .contents {
      max-height: 150px;
      overflow: hidden; }
  #way-view section.expanding.ng-leave {
    opacity: 1; }
    #way-view section.expanding.ng-leave .contents {
      max-height: 150px;
      overflow: hidden; }
  #way-view section.expanding.ng-hide-add {
    opacity: 1; }
    #way-view section.expanding.ng-hide-add .contents {
      max-height: 150px;
      overflow: hidden; }
  #way-view section.expanding.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }
    #way-view section.expanding.ng-hide-remove.ng-hide-remove-active .contents {
      max-height: 150px;
      overflow: hidden; }
  #way-view section.expanding.ng-hide {
    display: block !important;
    height: 0;
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms; }
    #way-view section.expanding.ng-hide .contents {
      height: 0;
      overflow: hidden; }
  #way-view section.expanding.ng-hide-add-active, #way-view section.expanding.ng-hide-remove-active {
    height: 150px; }
  #way-view section.expanding.ng-animate {
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms; }

#way-view section + section.expanding {
  border-top: none; }
