#waydetails {
  background: rgba(0,0,0,0.4);
  overflow: auto;
}
#waydetails section {
  text-align: center;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  font-size: 14px;
}
#waydetails section + section {
  border-top: 2px solid black;
}
#waydetails p {
  opacity: 0.9;
}
$totalWayViewHeight: 600px;

#waydetails .placeDetails {
  height: $totalWayViewHeight*0.15;
}
#waydetails h1 {
  font-variant: small-caps;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}
#waydetails .placeDetails  {
  margin: 2px 0;
}
#waydetails .way {
  margin: 0 auto;
}
#waydetails .wayDetails {
  height: $totalWayViewHeight*0.40;
}
#waydetails .wayDetails p {
  margin: 10px 0;
}
#waydetails .wayDescription {
  text-transform: uppercase;
}
#waydetails .share{
  height: $totalWayViewHeight*0.15;
}
#waydetails .share p {
  margin: -10px 0 6px 0;
}
#waydetails .share div {
  margin: 0 2px;
}
#waydetails .map {
  padding: 0;
}
#waydetails .angular-google-map-container { 
  height: $totalWayViewHeight*0.30;
}

@import "animation_mixins";
#waydetails section.expanding {
  $height: $totalWayViewHeight*0.25;
  padding: 0;

  @include transition-duration(400ms);
  .contents {
    @include transition-duration(400ms);
    height: $height;
    background: black;

    p {
      padding: 15px;
      margin: 0;
    }
  }

  @include hidden-state {
    opacity: 0;
    /* .contents {
      max-height: 0;
      overflow: hidden;
    } */
  }
  @include shown-state {
    opacity: 1;
    /* .contents {
      max-height: $height;
      overflow: hidden;
    } */
  }
  /* &.ng-hide {
    display: block !important; 
    height: 0;
    .contents {
      height: 0;
      overflow: hidden;
    }
    @include transition-duration(0ms);
  }
  &.ng-hide-add-active,
  &.ng-hide-remove-active {
    height: $height;
  }
  &.ng-animate {
    @include transition-duration(400ms);
  } */
}
#waydetails section + section.expanding {
  border-top: none;
}
