@import "animation_mixins";

.animated {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.fading {
  @include transition-duration(400ms);
  @include hidden-state {
    opacity: 0;
  }
  @include shown-state {
    opacity: 1;
  }
}

.slide-from-right{
  @include transition-duration(400ms);
  @include shown-state {
    @include transform(translateX(0));
  }
  @include hidden-state {
    @include transform(translateX(100%));
  }
}

.sidesliding {
  @include transition-duration(400ms);
  .from-top.to-bottom & {
    &.ng-enter {
      @include transform(translateY(100%));
    }
    &.ng-enter-active {
      @include transform(translateY(0));
    }
    &.ng-leave {
      @include transform(translateY(0));
    }
    &.ng-leave-active {
      @include transform(translateY(-100%));
    }
  }
  .from-bottom.to-top & {
    &.ng-enter {
      @include transform(translateY(-100%));
    }
    &.ng-enter-active {
      @include transform(translateY(0));
    }
    &.ng-leave {
      @include transform(translateY(0));
    }
    &.ng-leave-active {
      @include transform(translateY(100%));
    }
  }
  .to-right & {
    @include transition-duration(100ms);
    @include hidden-state {
      opacity: 0;
    }
    @include shown-state {
      opacity: 1;
    }
  }
  .from-right & {
    @include transition-duration(800ms);
    @include hidden-state {
      opacity: 0;
    }
    @include shown-state {
      opacity: 1;
    }
  }
}
