<h1>Friends way</h1>
<p style="cursor: pointer;" ng-click="showDetails = !showDetails">
Invite a friend! Click to toggle more details:
</p>
<div ng-show="showDetails" class="animated slide-out">
  <div class="bar nomargin">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </div>
</div>
<div class="bar">Stuff goes here</div>
<div ng-click="goBack();" class="bar">Click here to go back</div>
<div ng-swipe-left="goBack();"></div>
