$wayIconSize: 120px;

.way {
  $size: $wayIconSize*0.7;
  position: relative;
  background: black;
  width: $size;
  height: $size;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%; 
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  font-variant: small-caps;
}
.way.large {
  $size: $wayIconSize*1;
  width: $size;
  height: $size;
  font-size: 31px;
}

.way-name {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 58%;
  opacity: 0.9;
}
.way-logo {
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 0;
  letter-spacing: -1.5px;
}
.ways-w {
  color: #ec373a;
}
.ways-a {
  color: #faae43;
}
.ways-y {
  color: #219646;
}
