.way-circle {
  @include user-select(none);
  text-align: center;
  position: relative;
  color: white;
  
  svg {
    height: 100%;
  }
  circle {
    fill: black;
  }

  h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin: 0;
    @include heading-font;
    font-style: italic;
  }
}
