<!-- Way list -->
<div id="waylist" ng-controller="WayListController" class="app-view animated">
  <div class="waysearch">
    <input type="text" ng-model="search" placeholder="Search WAYS" />
  </div>
  <div show-resource-status="waysPromise" on-reload="load()" class="waylist">
    <div ng-repeat="way in ways" ng-click="gotoWay(way)" class="waylist-item">
      <way name="way.name"></way>
      <div class="way-place">{{way.place}}</div>
      <div class="way-distance">{{way.distance}} m</div>
    </div>
  </div>
</div>
<!-- Details -->
<div ng-swipe-right="goUp();" ui-view="details" id="waydetails" class="animated app-view"></div>
