<div class="app-view" resource-loader="loadWay" load-into-model="way">
  <section class="placeDetails">
    <h1>{{way.place}}</h1>
    <p class="placeDetails">{{way.placeDetails}}</p>
  </section>
  <section class="wayDetails">
  <way name="way.name" size="large"></way>
  <p class="wayDescription">
  {{way.description}}
  <div vertical-text="way.description"></div>
  </p>
  </section>
  <section ng-if="mapCenter" class="map">
    <ui-gmap-google-map undraggable pan="true" draggable="true" grayscale center="mapCenter" zoom="15">
      <ui-gmap-marker icon="'images/way-icon.png'" coords="way.position" idKey="way.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </section>
</div>
