$searchHeight: 40px;
$wayListItemHeight: 120px;

.waysearch {
  background: black;
  height: $searchHeight - 10;
  padding: 5px;

  input {
    display: block;
    background: #363636 no-repeat url(../images/search.png) 11px center;
    font-size: 16px;
    color: white;
    height: $searchHeight - 10;
    width: 100%;
    padding: 10px 10px 5px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
  }
}

.waylist {
  position: absolute;
  top: $searchHeight;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  max-height: 100%;
  font-variant: small-caps;
}

.waylist-item {
  background: rgba(0,0,0,0.4);
  padding: $wayListItemHeight*0.40 $wayListItemHeight;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: $wayListItemHeight;

  .way {
    position: absolute;
    left: $wayListItemHeight*0.15; 
    top: $wayListItemHeight*0.15;
  }

  &+& {
    border-top: 2px solid black;
  }
}
.way-place {
  font-size: 40px;
  line-height: $wayListItemHeight*0.2;
}
.way-distance{
  font-size: 16px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
