$wayListItemHeight: 120px;

.waylist {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  max-height: 100%;
  font-variant: small-caps;
}

.waylist-item {
  background: rgba(0,0,0,0.4);
  padding: $wayListItemHeight*0.40 $wayListItemHeight;
  position: relative;
  height: $wayListItemHeight;

  .way {
    position: absolute;
    left: $wayListItemHeight*0.15; 
    top: $wayListItemHeight*0.15;
  }

  &+& {
    border-top: 2px solid black;
  }
}
.way-place {
  font-size: 40px;
  line-height: $wayListItemHeight*0.2;
}
.way-distance{
  font-size: 16px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
