#districts {
  overflow: auto;
}
.district {
  width: 100%;
  height: 21%;
  clear: both;
  text-align: center;
  @include heading-font(2.5);
  line-height: 2.2;
  color: white;

  &.small {
    width: 50%;
    float: left;
    clear: none;
    @include heading-font(1.6);
    line-height: 3.7;
  }
  &.transparent,
  &.random,
  &.closest {
    background: rgba(0,0,0,0.1);
    @include paragraph-font(3);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    line-height: 2.2;
  }
  &.transparent.small,
  &.closest.small {
    @include paragraph-font(2.3);
    line-height: 2.9;
  }
  &.random {
    @include special-font(3);
    line-height: 2.2;
  }
  &.random.small {
    @include special-font(2.3);
    line-height: 3.03;
  }
  &.green {
    background: $ways_green;
  }
  &.yellow {
    background: $ways_yellow;
  }
  &.red {
    background: $ways_red;
  }
}
