#map_and_pic {
  @include user-select(none);

  .picture, .map {
    width: 100%;
    height: 50%;

    @media screen and (orientation: landscape) {
      & {
        width: 50%;
        height: 100%;
        float: left;
      }
    }
  }

  .picture {
    background: url(../images/testpic.jpg);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .map {
    background: lightgray;
    position: relative;
    .angular-google-map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
