#way_details {
  .way-info, .place-info {
    text-align: center;
    position: relative;
    width: 100%;

    /*
    @media screen and (orientation: landscape) {
      & {
        width: 50%;
        height: 100% !important;
        float: left;
      }
    }
    */
  }
  .way-info {
    background: $ways_green;
    height: 55%;
    
    .circle-container {
      position: absolute;
      top: 16%;
      height: 66%;
      width: 100%;
    }
    .way-circle {
      height: 100%;
      margin: 0 auto;
      .waytype {
        top: 20%;
        font-size: 2.4em;
      }
      .description {
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
        font-size: 0.75em;
      }
      .share {
        position: absolute;
        top: 76%;
        left: 0;
        right: 0;
        @include special-font(0.9);
        text-transform: uppercase;
      }
    }
    .comments {
      @include paragraph-font(0.8);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 7%;
    }
  }
  .place-info {
    background: $ways_yellow;
    height: 45%;
    
    h1 {
      position: absolute;
      top: 12%;
      left: 0%;
      width: 100%;
      margin: 0;
      @include heading-font(1.5);
    }
    .description {
      position: absolute;
      top: 33%;
      bottom: 10%;
      left: 0;
      right: 0;
      padding: 0 12%;
      @include paragraph-font;
      overflow: auto;
    }
  }
}
