<div id="districts" class="app-view">
  <div class="district green" ui-sref="districts.list">Eira</div>
  <div class="district random small" ui-sref="districts.list">Random</div>
  <div class="district yellow small" ui-sref="districts.list">Punavuori</div>
  <div class="district red" ui-sref="districts.list">Kallio</div>
  <div class="district closest" ui-sref="districts.list">Closest</div>
  <div class="district green" ui-sref="districts.list">Hakaniemi</div>
  <div class="district red" ui-sref="districts.list">Vallila</div>

</div>
