<div id="way_details" class="app-view">
  <section class="way-info">
    <section class="circle-container">
      <way-circle>
        <div class="description">
          Description
        </div>
        <div class="share">
          Share now!
        </div>
      </way-circle>
    </section>
    <section class="comments">
      This is such a great way! Comment #2...
    </section>
  </section>
  <section class="place-info">
    <h1>Cafe Talo</h1>
    <section class="description">
      Cafe Talo on sopiva sekoitus street baaria, ruokailua, teatteriravintolaa sekä yksityistilaisuuksia. Sijainti Hakaniemen kauppahallia vastapäätä on loistava! Keskustan alueeltakin sporalla ja metrolla muutamassa minuutissa sillan tälle puolelle.
    </section>
  </section>
</div>
