@import "animation_mixins";

.animated {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Layout animations */
#waymap, #waylist, #waybrowser, #waydetails {
  @include transition-duration(400ms);
}
.position-top {
  #waymap {
    @include transform(translateY(0));
  }
  #waylist {
    @include transform(translateY(100%));
  }
}
.position-bottom {
  #waymap {
    @include transform(translateY(-100%));
  }
  #waylist {
    @include transform(translateY(0));
  }
}
/* Handle the details view sidescroll */
#waybrowser {
  //@include transform(translateX(0));
  opacity: 1;
}
.show-details {
  #waybrowser {
    //@include transform(translateX(-100%));
    opacity: 0;
  }
}
#waydetails {
  @include hidden-state {
    @include transform(translateX(100%));
  }
  @include shown-state {
    @include transform(translateX(0));
  }
}

.fading {
  @include transition-duration(400ms);
  @include hidden-state {
    opacity: 0;
  }
  @include shown-state {
    opacity: 1;
  }
}
