$ways_green: #00ab51;
$ways_red: #ef5945;
$ways_yellow: #faba4f;

@mixin heading-font($size: 1) {
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em*$size;
}
@mixin paragraph-font($size: 1) {
  font-family: 'Abril Fatface', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 0.8em*$size;
}
@mixin special-font($size: 1) {
  font-family: 'Megrim', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 0.8em*$size;
}
