$arrowIconSize: 32px;
$shareIconSize: 48px;

.arrow-up, .arrow-down {
  width: $arrowIconSize;
  height: $arrowIconSize;
  background: url(../images/arrowset.png) no-repeat;
}
.arrow-down {
  background-position: 0 (-$arrowIconSize);
}
.share-fb, .share-twitter, .share-email {
  display: inline-block;
  width: $shareIconSize;
  height: $shareIconSize;
  background: url(../images/shareiconset.png) no-repeat;
}
.share-twitter{
  background-position: 0 ($shareIconSize*-1);
}
.share-email{
  background-position: 0 ($shareIconSize*-2);
}
