$headerHeight: 55px;

body {
  background: black;
  overflow: hidden;
  font-family: sans-serif;
}

.top-menu-content {
  width: 100%;
  padding: 15%;
  background: black;
  color: white;
  z-index: 10;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background: black;

  .logo {
    height: $headerHeight*1.4;
    position: absolute;
    top: $headerHeight*0.2;
    right: $headerHeight*0.2;
  }
  z-index: 2;
}

#contents {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top: $headerHeight solid transparent;
}

.app-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ui-view-slide {
  height: 100%;
  width: 100%;
}
