
body {
  background: black;
  overflow: hidden;
  font-family: sans-serif;
}

.top-menu-content {
  width: 100%;
  padding: 15%;
  background: black;
  color: white;
  z-index: 10;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11%;
  background: black;

  .logo {
    height: 176%;
    position: absolute;
    top: 15%;
    right: 3%;
  }
  z-index: 2;
}

#contents {
  position: absolute;
  top: 11%;
  left: 0;
  height: 89%;
  width: 100%;
  overflow: hidden;
}

.app-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ui-view-slide {
  height: 100%;
  width: 100%;
}
