@import "layout";

$ways_green: #00ab51;
$ways_red: #ef5945;
$ways_yellow: #faba4f;

body {
  background: black url(../images/city.jpg) fixed center top; 
}

@import "css-fixes";
@import "ionic/variables";
@import "ionic/mixins";
@import "ionic/slide-box";
@import "views/splash-view";
@import "views/districts";
@import "views/list";
@import "views/way";
@import "views/map_and_pic";
@import "views/way-details";


@import "views/browse-view";
@import "views/details-view";
@import "animations";
@import "components/way-icon";
@import "components/way-circle";
@import "components/resource-loader";
@import "components/network-missing-indicator";
