$searchHeight: 40px;
$searchModeToggleHeight: 50px;
$wayListItemHeight: 120px;

@import "layout";

#background {
  background: black url(../images/city.jpg) fixed center top; 
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bottomTools {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottomTools > .tools {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $searchModeToggleHeight;
}

.empty-view {
  display: none;
}

@import "splash";
@import "icons";
@import "listviews";
@import "detailview";
@import "animations";
@import "components/way-icon";
